# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List commonly used libraries for Data Scientists
- List several open-source tools used by Data Scientists
- Show some examples of arithmetic expressions that Data Scientists use

Some of the popular languages that Data Scientists use are:

1. Java
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit-learn
4. Plotly

| Data Science Tools |
| -------------|
| MySQL |
| MongoDB |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python: 

x <- 1 + 2

y <- 3 * 5

z <- y-x

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Curtis Sumner